.profile-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.profile-title {
  font-size: 1.8rem;
  font-weight: 700;
}

.profile-subtitle {
  color: #6b7280;
}

.profile-card {
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 0.6rem;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-form-card {
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 0.6rem;
  padding: 1.5rem;
}

.profile-avatoe-part{
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.profile-date-of-joining{
    font-size: 1rem;
    font-weight: 500;
}

.profile-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: var(--pc);
  color: var(--fg-two);
  font-size: 1.8rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-info {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: end;
  font-size: 1rem;
}

.profile-info h2 {
  margin: 0;
}

.profile-info p {
  margin: 0.2rem 0;
  color: #6b7280;
}

.profile-info span {
  font-size: 0.85rem;
  color: #6b7280;
}

.profile-section-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.profile-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.profile-field {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.profile-field label {
  font-weight: 600;
}

.profile-field small {
  font-size: 0.75rem;
  color: #6b7280;
}

@media (max-width: 640px) {
  .profile-container {
    padding: 0 0.5rem;
  }

  .profile-avatar {
    width: 64px;
    height: 64px;
    font-size: 1.4rem;
  }

  .profile-card{
    flex-direction: column;
  }
  .profile-info{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
  }
  .profile-avatoe-part{
    width: 100%;
  }
}
