
.layout {
  min-height: 100vh;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100vh;
  background: var(--bg-two);
  color: #e5e7eb;
  display: none;
}

.sidebar-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  
}

.sidebar-logo {
  height: 64px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  border-bottom: 1px solid #1e293b;
}

.logo-icon {
  width: 36px;
  height: 36px;
  background: var(--pc);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 16px 12px;
  gap: 0.5rem;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 10px 12px;
  border-radius: 8px;
  color: var(--fg-two);
  text-decoration: none;
}

.nav-item:hover {
  background: var(--bg-two-h);
}

.nav-item.active {
  background: var(--pc);
  color: #fff;
}

.sidebar-user {
  padding: 16px;
  border-top: 1px solid #1e293b;
  display: flex;
  gap: 12px;
  align-items: center;
}

.avatar {
  width: 36px;
  height: 36px;
  background: #334155;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.avatar.small {
  width: 32px;
  height: 32px;
}

.user-info {
  overflow: hidden;
}

.email {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.role {
  font-size: 12px;
  color: #94a3b8;
  text-transform: capitalize;
}

.mobile-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  background: #fff;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  z-index: 50;
  background-color: var(--bg-two);
  color : var(--fg-two);
}

.mobile-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.mobile-menu {
  position: fixed;
  inset: 0;
  padding-top: 64px;
  background: #fff;
  z-index: 40;
}

.mobile-nav-item {
  display: flex;
  gap: 12px;
  padding: 14px 20px;
  text-decoration: none;
  color: #111827;
}

.mobile-nav-item.active {
  background: #e5e7eb;
}

.logout-btn {
  padding: 14px 20px;
  border: none;
  background: none;
  display: flex;
  gap: 12px;
  cursor: pointer;
  color: #dc2626 !important;
}

.main {
  padding-top: 64px;
  
}

.desktop-header {
  display: none;
  height: 64px;
  padding: 0 24px;
  border-bottom: 1px solid #e5e7eb;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--bg-two);
}

.profile {
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--fg-two);
}

.content {
  padding: 24px;
}

@media (min-width: 768px) {
  .sidebar {
    display: block;
  }

  .mobile-header,
  .mobile-menu {
    display: none;
  }

  .main {
    margin-left: 260px;
    padding-top: 0;
  }

  .desktop-header {
    display: flex;
  }
}
